.example-container {
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px 20% 0 20%;
}

mat-form-field {
    width: 60%;
    margin: auto;
}

.mat-form-field {
    margin-bottom: 10px;
}



.btn {
    text-align: center;
}

.btn>button {
    width: 40%;
}

@media(max-width:820px) {
    .example-container {
        grid-template-columns: auto;
        padding: 30px 5% 0 5%;
    }
}