/* You can add global styles to this file, and also import other style files */

/*@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css');*/

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
    margin: 0;
    padding: 0;
    /* font-family: Roboto, Helvetica, Arial, sans-serif; */
}

html, body {
    background-color: #fafafa;
}

html {}

.colorAuto {
    width: 20px;
    height: 12px;
    display: inline-block;
}
