<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div *ngIf='isLoggedIn;else authButton'>
      <button *ngFor='let btn of profileButtons' mat-button routerLink={{btn.route}}>{{btn.name}}</button>
      <button mat-button (click)='logout()'>Выход</button>
    </div>
    <ng-template #authButton>
      <button *ngFor='let btn of authButtons' mat-button routerLink={{btn.route}}>{{btn.name}}</button>
    </ng-template>

  </mat-toolbar-row>

</mat-toolbar>
<!-- <mat-progress-bar mode="indeterminate" [display.stile]='showProgress? block: none'></mat-progress-bar> -->