<mat-card class='register'>
	<form [formGroup]='registerForm' (ngSubmit)='registerUser(registerForm.value)'>
		<mat-card-content class="register-content">
			<p>
				<mat-form-field>
					<input matInput placeholder="Email" formControlName='email'>
					<mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
						<div *ngIf="email.errors.required">
							Введите email
						</div>
						<div *ngIf="email.errors.email &&  !email.errors.required">
							Неверный пароль
						</div>

					</mat-error>
				</mat-form-field>
			</p>
			<p>
				<mat-form-field>
					<input matInput placeholder="Пароль" [type]="hide ? 'password' : 'text'" formControlName='password'>
					<mat-error *ngIf="password.invalid && (password.dirty || password.touched)">

						<div *ngIf="password.errors.invalid">
							Неверный пароль
						</div>
						<div *ngIf="password.errors.required">
							Введите пароль
						</div>
					</mat-error>
					<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
				</mat-form-field>
			</p>
			<p>
				<mat-form-field>
					<input matInput placeholder="Подтвердите пароль" [type]="hide ? 'password' : 'text'" formControlName='confirmPassword'>
					<mat-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched )||confirmPassword.notSame">

						<div *ngIf="confirmPassword.errors.notSame">
							Пароли не совпадают
						</div>
						<div *ngIf="confirmPassword.errors.required">
							Введите повторно пароль
						</div>
					</mat-error>
					<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
				</mat-form-field>
			</p>
			<p>
				<mat-form-field>
					<input matInput placeholder="Имя" formControlName='name'>
				</mat-form-field>
			</p>
			<p>
				<mat-form-field>
					<input matInput placeholder="Фамилия" formControlName='surname'>
				</mat-form-field>
			</p>
			<p>
				<mat-form-field>
					<mat-select placeholder="Год рождения" formControlName='age'>
						<mat-option *ngFor="let year of years" [value]="year">
							{{ year}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</p>
			<p>
				<mat-form-field>
					<mat-select placeholder="Пол" formControlName='gender'>
						<mat-option *ngFor="let gender of genders" [value]="gender.value">
							{{ gender.viewValue }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</p>
			<p>
				<mat-form-field>
					<input matInput placeholder="Телефон" formControlName='phone'>
				</mat-form-field>
			</p>
		</mat-card-content>
		<mat-card-actions class="btn">
			<button type='submit' mat-raised-button [disabled]='!registerForm.valid' color="primary">Зарегестрироваться</button>
		</mat-card-actions>
	</form>

</mat-card>