<h2 mat-dialog-title>{{data.name}} поездку</h2>
<mat-dialog-content>
    Вы уверены ?
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Отмена</button>
    <button mat-button [mat-dialog-close]="true">Подтвердить</button>
</mat-dialog-actions>