<h2 mat-dialog-title>Оставить отзыв</h2>
<mat-dialog-content>
    <form>
        <mat-form-field>
            <mat-select #mark placeholder="Оценка">
                <mat-option *ngFor="let mark of marks" [value]="mark+1">
                    {{ mark+1}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <textarea #comment matInput placeholder="Отзыв"></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Отмена</button>
    <button mat-button [mat-dialog-close]="{comment:comment.value,mark:mark.value}">Отправить</button>
</mat-dialog-actions>