<div class="journey" *ngIf='journeyDetail'>
  <div class="detail">
    <div>
      <h1 id='points'> Поездка {{journeyDetail.departurepoint}} - {{journeyDetail.arrivalpoint}}</h1>
      <div class='street'>
        <span *ngIf='journeyDetail.departurestreet ||journeyDetail.arrivalstreet'> ( </span>
        <span *ngIf='journeyDetail.departurestreet'>{{journeyDetail.departurestreet}}</span>
        <span *ngIf='journeyDetail.arrivalstreet'> - {{journeyDetail.arrivalstreet}}</span>
        <span *ngIf='journeyDetail.departurestreet ||journeyDetail.arrivalstreet'> )</span>
      </div>
    </div>
    <div>Отправление {{journeyDetail.departure |date:'EEEEEE M/d/yy, h:mm'}}</div>
    <div>Прибытие {{journeyDetail.arrival |date:'EEEEEE M/d/yy, h:mm'}}</div>
    <div>Доступно мест {{journeyDetail.currseats}} из {{journeyDetail.numofseats}} </div>
    <div class="price">{{journeyDetail.price}}</div>
    <div *ngIf='!isDriver && !isCompnaion && !isCompleted && !isInProcess' class="d-flex align-items-center">
      <button *ngIf='isLoggedIn' mat-raised-button color='primary' class="btn" (click)='bookPlace()'>Забронировать место</button>
    </div>
    <button *ngIf='isDriver && isInProcess' class="btn" mat-raised-button color="primary" (click)='completeJourney()'>Завершить поездку</button>
    <button *ngIf='isCompnaion && !isCompleted ' mat-raised-button color="warn" class='btn' (click)='cancelJourney()'>Отменить бронирование</button>
  </div>
  <br>
  <div class="driverInfo">
    <div class="driver">
      <h1>Водитель</h1>
      <a href="" routerLink='../../profile/{{journeyDetail.userid}}'>
        <div class="avatar">
          <img src="https://www.timeshighereducation.com/sites/default/files/byline_photos/default-avatar.png" alt="">
        </div>
        <div> {{journeyDetail.name}} {{journeyDetail.surname}},{{journeyDetail.age}}</div>
        <div> Номер телефона: {{journeyDetail.phone}}</div>
      </a>
      <button class='feedback' *ngIf='isCompnaion && isCompleted' mat-raised-button color="primary" (click)='leaveCommentToDriver(journeyDetail.userid)'>
        <!-- <mat-icon aria-label="Leave a feedback">create</mat-icon> -->
        Оставить отзыв
      </button>
    </div>
    <div class="car">
      <h1> Автомобиль</h1>
      <div *ngIf='journeyDetail.mark'> Марка : {{journeyDetail.mark}} </div>
      <div *ngIf='journeyDetail.model'> Модель: {{journeyDetail.model}}</div>
      <div *ngIf='journeyDetail.color'>Цвет :
        <div class='colorAuto' [style.background-color]="journeyDetail.color"></div>
      </div>
      <div *ngIf='!journeyDetail.mark && !journeyDetail.model'>Водитель еще не добавил автомобиль</div>
    </div>
  </div>
  <!-- numberplate -->
  <div *ngIf="passangers.length">
    <h1>Пассажиры:</h1>
    <div class="passangers">
      <div class="passanger" *ngFor='let passanger of passangers'>
        <a href="" routerLink='../../profile/{{passanger.userid}}'>
          <div class="avatar">
            <img id="image" src="https://www.timeshighereducation.com/sites/default/files/byline_photos/default-avatar.png" alt="">
          </div>
          <p> {{passanger.name}} {{passanger.surname}}, {{passanger.age}}</p>
        </a>
        <button class='feedback' *ngIf='isDriver && isCompleted' mat-raised-button color="primary" (click)='leaveCommentToCompanion(passanger.userid)'>
          <!-- <mat-icon aria-label="Leave a feedback">create</mat-icon> -->
          Оставить отзыв
        </button>
        <button *ngIf='isDriver && !isCompleted && !isInProcess' mat-raised-button color='primary' class="btn" (click)='cancelBooking(passanger.userid)'>Отменить бронь</button>
      </div>
    </div>
  </div>
  <button *ngIf='isDriver && !isCompleted && !isInProcess' mat-raised-button color="warn" class='btn' (click)='deleteJourney()'>Удалить поездку</button>
</div>