.driverInfo {
    display: flex;
    padding: 0 0 20px 0;
}

.driver, .car {
    width: 40%;
}

.journey {
    margin: auto;
    margin-top: 30px;
    width: 700px;
    background-color: white;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.avatar {
    float: left;
    margin: 0 20px 0 0;
    height: 60px;
    width: 60px;
}

.avatar>img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.passanger {
    width: 40%;
}

.passanger>p {
    vertical-align: center;
}

.passangers {
    display: flex;
}

h1 {
    margin: 0 0 10px 0;
}

.detail {
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.btn {
    margin-top: 20px;
    width: 100%;
}

a, a:link, a:hover {
    text-decoration: none;
    outline: none;
    color: black;
}

.feedback {
    margin-top: 10px;
    font-size: 13px;
    height: 25px;
    width: 80%;
    line-height: 0;
}

.street {
    font-size: 15px;
    display: inline-block;
    color: darkgray;
}

@media(max-width:750px) {
    .journey {
        width: 90%;
    }
}

#points{
    display: inline-block;
}