<mat-tab-group>
    <mat-tab *ngFor='let journeysDetail of journeys' label="{{journeysDetail.name}}">
  
      <mat-card *ngFor="let journey of journeysDetail" routerLink='../journeys/{{journey.id}}'>
        <mat-card-header>
  
          <mat-card-title>{{journey.departurepoint}} - {{journey.arrivalpoint}}</mat-card-title>
  
          <mat-card-subtitle>{{journey.departure|date:'EEEEEE M/d/yy, h:mm'}} - {{journey.arrival |date:'EEEEEE M/d/yy, h:mm'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          Цена: {{journey.price}}
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>