<mat-card class='login'>
	<form [formGroup]='loginForm' (ngSubmit)='loginUser(loginForm.value)'>
		<mat-card-content class="example-container">
			<mat-form-field>
				<input matInput placeholder="Email" formControlName='email'>
				<mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
					<div *ngIf="email.errors.required">
						Введите email
					</div>
					<div *ngIf="email.errors.email &&  !email.errors.required">
						Неверный пароль
					</div>

				</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Пароль" [type]="hide ? 'password' : 'text'" formControlName='password'>
				<mat-error *ngIf="password.invalid && (password.dirty || password.touched)">

					<div *ngIf="password.errors.invalid">
						Неверный пароль
					</div>
					<div *ngIf="password.errors.required">
						Введите пароль
					</div>
				</mat-error>
				<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions class="btn">
			<button type='submit' mat-raised-button [disabled]='!loginForm.valid' color="primary">Войти</button>
		</mat-card-actions>
	</form>
</mat-card>