.example-container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
}

.mat-form-field {
    margin-bottom: 10px;
}

.login {
    width: 500px;
    margin: 13% auto;
}

.btn {
    text-align: center;
}

@media(max-width:550px) {
    .login {
        width: 90%;
    }
}