.user-profile {
    width: 700px;
    margin: 30px auto;
}

.example-header-image {
    background-image: url('https://www.timeshighereducation.com/sites/default/files/byline_photos/default-avatar.png');
    background-size: cover;
    height: 100px;
    width: 100px;
}

.car {
    margin-bottom: 20px;
    margin-top: 40px;
}

.feedbacks {
    margin-top: 40px
}

@media(max-width:800px) {
    .user-profile {
        width: 85%;
    }
}

.grid {
    display: grid;
    grid-template-areas: 'item1 item3 item5' 'item2 item4 item6';
    text-align: center;
    font-size: 15px;
    margin: 30px 0 20px 0 !important;
    font-size: 20px;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.btn {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.headerText {
    margin-left: 20px;
}

.item1, .item3, .item5 {
    font-weight: bold;
}

.avatar>img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.avatar {
    display: inline-block;
    float: left;
    margin-right: 15px;
}

.comment {
    clear: left;
    margin-left: 8px;
    margin-top: 15px;
}

.userName {
    display: inline-block;
    padding-top: 0px;
    margin: 10px 0;
}

.feedback {
    margin-top: 20px;
}

.car>div {
    font-size: 20px
}