<div *ngIf='profile'>
  <mat-card class="user-profile">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <div class="headerText">
        <mat-card-title>
          <h2>{{profile.dname}} {{profile.dsurname}}</h2>
        </mat-card-title>
        <mat-card-subtitle>
          <h3>{{profile.dage}} {{age}}</h3>
        </mat-card-subtitle>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div class='grid'>
        <div class="item1"> {{profile.trip}}</div>
        <div class="item2">поездок</div>
        <div class="item3">{{profile.cgoodmark}}</div>
        <div class="item4">положительных
          <br>отзывов </div>
        <div class="item5"> {{profile.cbadmarks}} </div>
        <div class="item6"> отрицательных
          <br>отзывов</div>
      </div>
      <button class='btn' mat-raised-button *ngIf='editProfile' (click)="showEditFormClick('edit')" color='primary'>Изменить данные</button>
      <mat-divider></mat-divider>
      <div class="car">

        <h2> Автомобиль</h2>
        <div>
          <div class="avatar">
            <img src="https://www.timeshighereducation.com/sites/default/files/byline_photos/default-avatar.png" alt="">
          </div>
          <div> Марка : {{profile.markauto}} </div>
          <div> Модель : {{profile.modelauto}}</div>
          <div>Цвет :
            <div class='colorAuto' [style.background-color]="profile.colorauto"></div>
          </div>
        </div>
        <button class='btn' mat-raised-button *ngIf='editProfile' (click)="showEditFormClick('editAuto')" color='primary'>{{editAuto}}</button>
      </div>
      <mat-divider></mat-divider>
      <div class="feedbacks" *ngIf='feedbacks.length'>

        <h2 id='feedbackTitle'>Отзывы</h2>
        <div class="feedback" *ngFor='let feedback of feedbacks'>
          <a (click)='showUserProfile(feedback.sender)'>
            <div class="avatar">
              <img src="https://www.timeshighereducation.com/sites/default/files/byline_photos/default-avatar.png" alt="">
            </div>
          </a>
          <a href='http://localhost:4200/profile/{{feedback.sender}}'>

            <div class="userName"> {{feedback.name}} {{feedback.surname}}, {{feedback.date_part}}</div>
          </a>
          <div class="mark">Оценка: {{feedback.mark}}</div>
          <div class="comment">{{feedback.feedback}}</div>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
</div>