<div class="grid">
  <mat-card id='filter'>
    <mat-card-content class='content'>
      <div class="example-container" [formGroup]='searchForm'>
        <mat-form-field>
          <input matInput placeholder="Отправление из" formControlName="departurePoint" #departurePoint>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Прибытие в" formControlName="arrivalPoint" #arrivalPoint>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Когда" formControlName="departure">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button type='submit' mat-raised-button color="primary" (click)='findJourneys(searchForm.value)'>Поиск</button>
        <!-- <div>{{searchForm.value| json}}</div> -->
      </div>
      <div *ngIf='popularTrips.length'>
        <h2>Популярные маршруты</h2>
        <div *ngFor='let trip of popularTrips'>
          <button class='btn-popular' mat-button (click)='findPopularJourneys(trip)'> {{trip.departurepoint}} &rArr; {{trip.arrivalpoint}}</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div id='journeys'>
    <div *ngFor="let journey of journeys">

      <div class="journey">
        <a routerLink='../profile/{{journey.userid}}' class="driverInfo">
          <img id="image" src="https://www.timeshighereducation.com/sites/default/files/byline_photos/default-avatar.png" alt="">
          <div class="name">
            {{journey.dr_name}} {{journey.dr_surname}}
          </div>
          <div class="age">Возраст: {{journey.age }}</div>
        </a>
        <a routerLink="/journeys/{{journey.journeyid}}">
          <div class="description">
            <div class="time" i18n> {{journey.dep_time |date:'EEEEEE M/d/yy, h:mm'}}</div>
            <div class="points">{{journey.departure_point}} &rArr; {{journey.arrival_point}}
              <div class='street'>
                <span *ngIf='journey.departure_street ||journey.arrival_street'> ( </span>
                <span *ngIf='journey.departure_street'>{{journey.departure_street}}</span>
                <span *ngIf='journey.arrival_street'> - {{journey.arrival_street}}</span>
                <span *ngIf='journey.departure_street ||journey.arrival_street'> )</span>
              </div>
            </div>
            <br> Доступно мест: {{journey.curplaces}} из {{journey.places}}
          </div>


        </a>
        <a class="offer" routerLink="/journeys/{{journey.journeyid}}">
          Цена: {{journey.price_trip}}


        </a>
      </div>

    </div>
  </div>
</div>