.journey {
    background-color: #fff;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    border: 0px solid rgb(19, 231, 238);
    border-radius: 7px;
    display: grid;
    grid-template-columns: 32% 35% 28%;
    grid-template-rows: 120px;
    grid-gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#journeys {
    padding: 30px 5% 0 5%;
}

a, a:link, a:hover {
    text-decoration: none;
    outline: none;
    color: black;
}

.driverInfo {
    border-right: 1px solid rgb(238, 238, 238);
}

#image {
    height: 60px;
    width: 60px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
}

.points {
    margin: 0 0 5px 0;
}

.time {
    font-weight: bold;
    font-size: 1.2em;
}

.offer {
    text-align: right;
}

.example-container {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: 40% 60%;
}

@media(max-width:900px) {
    .grid {
        grid-template-columns: 100%;
    }
}

#filter {
    margin: 30px 0 0 10px;
}

.content {
    height: 100%;
}

.btn-popular {
    width: 100%;
    font-size: 20px;
}

.street {
    font-size: 13px;
    color: darkgray;
}