<mat-vertical-stepper [linear]="false" #stepper="matVerticalStepper">
    <mat-step [stepControl]="journeyFormGroup">
        <form [formGroup]="journeyFormGroup">
            <ng-template matStepLabel>Поездка</ng-template>
            <mat-form-field>
                <input matInput placeholder="Откуда" formControlName="departurePoint" required #departurePoint>
                <mat-error *ngIf="departurePoint.invalid && (departurePoint.dirty || departurePoint.touched)">

					
					<div *ngIf="departurePoint.errors.required">
						Password required
					</div>
				</mat-error>
            </mat-form-field>
          
            <mat-form-field>
                <input matInput placeholder="Куда" formControlName="arrivalPoint" required #arrivalPoint>
            </mat-form-field>
            <mat-form-field>
                <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Дата отправления" formControlName="departure" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Время отправления" type='time'  (focusout)="offerTime()" formControlName="departureTime" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [min]="minDate" [matDatepicker]="picker2" placeholder="Дата прибытия"  (click)="offerTime()" formControlName="arrival" required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Время прибытия (приблизительно)" type='time'  (click)="offerTime()" formControlName="arrivalTime" required>
            </mat-form-field>

            <div>
                <button mat-button matStepperNext>Продолжить</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="detailFormGroup">
        <form [formGroup]="detailFormGroup">
            <ng-template matStepLabel>Детали поездки</ng-template>
            <mat-form-field>
                <input matInput type='number' placeholder="Свободных мест" formControlName="places" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type='number' placeholder="Цена" formControlName="price" required>
                <span matSuffix>₴</span>
            </mat-form-field>
            <!-- <mat-form-field>
                <textarea matInput type='number' placeholder="Дополнительная информация" formControlName="info" ></textarea>
            </mat-form-field> -->

            <div>
                <button mat-button matStepperPrevious>Назад</button>
                <button mat-button (click)="stepper.reset()">Сбросить</button>
                <button mat-button [disabled]='!canCreateJourney || !detailFormGroup.valid || !journeyFormGroup.valid' (click)='createJourney()'>Подтвердить</button>
            </div>
        </form>
    </mat-step>
</mat-vertical-stepper>

<div id='map'>
    <h1>Карта</h1>

    <agm-map  [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker *ngFor='let marker of markers' [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
        <agm-polyline [strokeColor]="'#2196f3'">
            <agm-polyline-point *ngFor='let marker of direction' [latitude]="marker.lat" [longitude]="marker.lng">

            </agm-polyline-point>
        </agm-polyline>
    </agm-map>

</div>